<div class="jumbotron text-center">
    <h1>About author</h1>
    <p>Fernando Dantas</p>
    <ul class="listing">
      <li>Learning Ruby on Rails</li>
      <li>Moving to <b><i>Canada</i></b> next year!</li>
      <li>Looking for a remote job!!! </li>
    </ul>
</div>