//Variables definition
$def-color-main: #DF0101;
$def-color-alt: #E6E6E6;

//Bootstrap variables redefinition
$navbar-default-bg: $def-color-main;
$text-color: $def-color-alt;
$btn-default-color: $def-color-alt; 
$btn-default-bg: $def-color-main; 
$btn-default-border: $def-color-main;

@import "bootstrap-sprockets";
@import "bootstrap";

//General
body { 
    padding-top: 70px; 
    background-color: black;
}

.btn-xlarge {
    font-size: 1.7em;
}

.btn-xlarge:hover, .btn-lg:hover {
    background-color: $def-color-alt;
    color: $def-color-main;
    border: 1px solid $def-color-main;
}

.text-black {
    color: black;
    border-color: black;
}

.no-margin-top {
    margin-top: 0;
}

//Navigation bar
#logo {
    float: left;
    font-size: 1.7em;
    color: $def-color-alt;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: bold;
    margin-left: 45px;
}

#logo:hover {
    color: $def-color-alt;
    text-decoration: none;
}

#moto {
    float: left;
    font-size: 0.8em;
    color: $def-color-alt;
    font-weight: italic;
}

.navbar-nav li a {
    color: $def-color-alt !important;
    background-color: $def-color-main !important;
    margin-top: 0;
}

.navbar-nav li a:hover {
    color: $def-color-main !important;
    background-color: $def-color-alt !important;
}

.dropdown-menu {
    background-color: $def-color-main !important;
}

.navbar-nav li a.profile-image {
    padding-top: 5px;
    padding-bottom: 5px;
}

//Body
.jumbotron {
    background-image: asset-url('jewelry-625724_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:640px;
}

.jumbotron h1 {
    color: $def-color-alt;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.article-meta-details {
    font-size: 0.8em;
    font-weight: italic bold;
    float: right;
}

.user-title{
    font-weight: bold;
    font-size: 1.5em;
}

.category-title {
    font-weight: bold;
    font-size: 1.5em;
}

.listing {
    list-style: none;
    padding-left: 0;
}
//Footer
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $def-color-main;
    color: $def-color-alt;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15 px;
}