<h1 class="text-center">Listing all categories</h1>
<div class="text-center">
    <%= will_paginate %>
</div>
<%= render 'category', obj: @categories %>
<div class="text-center">
    <%= will_paginate %>
</div>