<div class="container">
    <footer class="center">
        <small>Copyright &#169; Fernando Dantas</small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>